.content1{
    margin-top: 5%;
  }
  .Content{
    margin-left: 5%;
  }
  .image2{
    width:20%;
    height:20%;
  }
  .image3{
    width:13%;
    height:13%;
  }
  .image4{
    width:10%;
    height:10%;
  }
  .image5{
    width:8%;
    height:8%;
  }
  .image6{
    width:8%;
    height:8%;
  }
  .image7{
    width:10%;
    height:10%;
  }
  .image8{
    width:13%;
    height:13%;
  }
  .content2{
    margin-top: -10%;
  }
  .content3{
    margin-top: -10%;
  }
  .content4{
    margin-top: -10.5%;
  }
  .content5{
    margin-top: -10%;
  }
  .content6{
    margin-top: -5%;
  }